@model ManufacturerFilterModel

<div class="product-filter product-manufacturer-filter">
    <div class="filter-title">
        <strong>@T("Filtering.ManufacturerFilter")</strong>
    </div>
    <div class="filter-content">
        <ul class="group product-manufacturer-group">
            @foreach (var manufacturer in Model.Manufacturers)
            {
                <li class="item">
                    <input id="attribute-manufacturer-@manufacturer.Value" type="checkbox" data-manufacturer-id="@manufacturer.Value" checked="@manufacturer.Selected" />
                    <label for="attribute-manufacturer-@manufacturer.Value">
                        @manufacturer.Text
                    </label>
                </li>
            }
        </ul>
    </div>
</div>